<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MicrOS DevTools CPP</Name>
    <Version>0.1</Version>
    <Title>MicrOS DevTools CPP</Title>
    <Publisher>Studenckie Koło Naukowe Informatyków "KOD"</Publisher>
    <StartMenuDir>MicrOS DevTools CPP</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/MicrosDevToolsCPP</TargetDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <MaintenanceToolName>Instalator</MaintenanceToolName>
    <WizardStyle>Modern</WizardStyle>
</Installer>
